@import "variables";
@import "mixins";

.excel__table{
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;
  .row{
    display: flex;
    flex-direction: row;
    min-height: 20px;
    height: $row-height;
  }

  .row-info, .column{
    .row-resiaze, .col-resize{
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: $primaru-color;
      opacity: 0;
      z-index: 1000;
      &:hover{
        opacity: 1 !important;
        cursor: col-resize;
      }
    }
  }

  .row-info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background-color: #f8f9fa;
    position: relative;
    border-top: none;
    .row-resiaze{
      position: absolute;
      left: 0;
      height: 4px;
    }
  }

  .column{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: $cell-width;
    background-color: #f8f9fa;
    border: 1px solid $border-color;
    height: 100%;
    border-top: none;
    border-left: none;
    position: relative;
    .col-resize{
      top: 0;
      width: 4px;
    }
  }

  .row-data{
    display: flex;
  }
  .cell{
    min-width: 40px;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e3e3e3;
    border-top: none;
    color: #111;
    border-left: none;
    white-space: nowrap;
    outline: none;
    &.selected{
      border: none;
      outline: 2px solid $primaru-color;
      z-index: 2;
    }
  }
}